modules = ["nodejs-20", "python-3.12", "web"]
compile = "make"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "make"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 21601341
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make dev"

[[ports]]
localPort = 2024
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true
